<!DOCTYPE html>
<html>
  <head>
    <title>WearbyParker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cd176def21.js" crossorigin="anonymous"></script>
    <script>
        window.banner = '<%= image_url('banner-img.jpg') %>'
        window.banner2 = '<%= image_url('banner-img2.jpg') %>'
        window.banner3 = '<%= image_url('banner-img3.jpg') %>'
        window.tryon = '<%= image_url('tryon_img.jpeg') %>'
        window.case = '<%= image_url('case.jpg') %>'
        window.eyewearSmile = '<%= image_url('eyewear-smile.jpg') %>'
        window.aviator = '<%= image_url('aviator.jpg') %>'
        window.cateye = '<%= image_url('cat_eye.jpg') %>'
        window.rectangle = '<%= image_url('rectangle.jpg') %>'
        window.round = '<%= image_url('round.jpg') %>'
        window.square = '<%= image_url('square.jpg') %>'
        window.acetate = '<%= image_url('acetate.jpg') %>'
        window.metal = '<%= image_url('metal.jpg') %>'
        window.mixed = '<%= image_url('mixed.jpg') %>'
        window.left = '<%= image_url('left.png') %>'
        window.right = '<%= image_url('right.png') %>'
        window.jess = '<%= image_url('jess.png') %>'
    </script>



    <% if logged_in? %>
      <script id='current-user' type='text/javascript'>
        window.currentUser = 
          <%= render('api/users/user.json.jbuilder',
      		  user: current_user).html_safe %>
      </script>
    <% end %>
  </head>

  <body>
  
    <%= yield %>
  </body>
</html>